.popup_container {
  @include flex(row, center, center);
  @include width-height(100vw, 100vh);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.3s ease-in-out forwards;
  .container {
    @include flex(column, center, center, 30px);
    @include width-height(550px, 280px);
    @include fontSize-fontWeight(18px, 400);
    background-color: $white;
    color: $lightGrey;
    border-radius: 15px;
    text-align: center;
    box-shadow: 4px 10px 10px 0 rgba(0, 0, 0, 0.25);
    animation: scaleIn 0.3s ease-in-out forwards;
    .title_container {
      @include flex(row, center, center, 30px);
      .congratulation {
        @include flex(column, flex-start, flex-start);
      }
    }
    .success_text {
      width: 400px;
      text-align: left;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
