.container {
  @include width-height(100%, auto);
  grid-template-rows: auto;
  padding: 5px 10px;
  .order {
    @include width-height(100%, auto);
    @include flex(row, flex-start, center);
    @include fontSize-fontWeight(18px, 400);
  }
  .image_container {
    @include width-height(100%, auto);
    @include flex(row, flex-start, center);
    .image {
      @include width-height(50px, 50px);
      object-fit: contain;
    }
    .icon_container {
      @include flex(row, center, center);
      @include width-height(80px, 60px);
      object-fit: contain;
    }
  }
  .box {
    display: flex;
    align-items: center;
    padding-left: 10px;
    @include fontSize-fontWeight(14px, 400);
  }
  .days_container {
    @include flex(row, flex-start, center);
    padding-left: 10px;
    .dayBox {
      @include fontSize-fontWeight(14px, 400);
      color: $lighterGrey;
    }
    .activeDay {
      font-weight: 500;
      color: $blueBackground;
    }
    .separator {
      margin-right: 2px;
      color: $lighterGrey;
    }
  }
  .icons {
    @include flex(row, center, center, 5px);
    border-left: none;
    padding-left: 0px;
  }
  &:hover {
    background-color: $orangeBackground;
  }
}
