@import "@/styles/theme";

.container {
  @include flex(row, center, center, 10px);
  @include width-height(100%, auto);
  color: $lightGrey;
  .inactive {
    background-color: transparent;
    color: $lightGrey;
    border: none;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background-color: $orangeBackground;
    }
  }
  .active {
    @extend .inactive;
    background-color: $orangeBackground;
  }
}
