.powerapp_container {
  @include width-height(100%, auto);
  @include flex(column, center, center);
  margin-top: 300px;
  position: relative;
  z-index: 10;
  .cards {
    min-width: 280px;
    margin-bottom: 40px;
    .card_container {
      @include flex(row, center, center, 20px);
      flex-wrap: wrap;
      padding: 10px 0;
      .empty_text {
        @include fontSize-fontWeight(16px, 400);
        color: $lightGrey;
        text-align: center;
      }
    }
    .subtitle {
      @include fontSize-fontWeight(18px, 600);
      @include width-height(100%, auto);
      @include flex(row, flex-start, center);
      color: $text;
      margin: auto auto 20px auto;
    }
  }
}
