@import "@/styles/theme.scss";

.main_container {
  @include flex(row, flex-start, flex-start);
  .container {
    @include flex(column, flex-start, flex-start);
    padding: 10px 20px 10px 20px;
    color: $lightGrey;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .active {
    border: $lightGrey 1px solid;
    border-radius: 8px;
    min-width: 600px;
    h1 {
      @include fontSize-fontWeight(20px, 400);
      line-height: 36px;
    }
    p {
      @include fontSize-fontWeight(14px, 400);
      line-height: 28.8px;
    }
  }

  .inactive {
    color: $lighterGrey;
    min-width: 300px;
    border: $lightGrey 1px solid;
    border-left: none;
    border-radius: 0 10px 10px 0;

    h1 {
      @include fontSize-fontWeight(20px, 400);
      line-height: 36px;
    }
    p {
      @include fontSize-fontWeight(14px, 400);
      line-height: 28.8px;
    }
  }
}
