.header_container {
  @include width-height(100%, auto);
  @include flex(row, space-between, center);
  .btn_container {
    @include flex(row, center, center, 15px);
  }
  .title_container {
    @include flex(row, center, center, 10px);
    .name_container {
      @include flex(row, center, center, 10px);
      color: $text;
      .name {
        @include fontSize-fontWeight(28px, 500);
        margin-bottom: 5px;
      }
      .quantity {
        @include fontSize-fontWeight(28px, 500);
        margin-bottom: 5px;
      }
    }
  }
}
