.container {
  @include flex(column, center, center, 10px);
  position: absolute;
  top: 360px;
  left: 12px;
  border: none;
  background-color: transparent;
  .loadingWrapper {
    @include width-height(100%, 100%);
    @include flex(row, flex-start, center, 10px);
    margin-left: 20px;

    p {
      color: $lightGrey;
      @include fontSize-fontWeight(10.41px, 400);
    }
  }
}
