.phone_container {
  @include width-height(250px, 500px);
  position: relative;
  margin-left: 20px;
  .phone {
    @include width-height(100%, 100%);
    position: absolute;
  }
}

@media (max-height: 720px) {
  .phone_container {
    @include width-height(200px, 370px);
  }
}

@media (min-width: 1600px) {
  .phone_container {
    @include width-height(270px, 515px);
  }
}
