.phone_container {
  @include width-height(250px, 500px);
  margin-left: 20px;
  position: relative;
  .phone {
    @include width-height(100%, 100%);
    position: absolute;
  }
  .iframe {
    @include width-height(93%, 95%);
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}

@media (max-height: 720px) {
  .phone_container {
    @include width-height(200px, 370px);
  }
}

@media (min-width: 1600px) {
  .phone_container {
    @include width-height(270px, 515px);
  }
}
