.button {
  padding: 10px;
  @include flex(row, flex-end, center, 15px);
  @include width-height(100%, 100%);
  cursor: pointer;
  @include fontSize-fontWeight(14px, 400);
  color: $text;
  background-color: transparent;
  text-align: end;
  border: none;
  position: relative;
  .circle {
    @include flex(center, center, center);
    @include width-height(40px, 40px);
    background-color: $orange;
    border-radius: 100%;
  }
  .circle_inactive {
    @extend .circle;
    background-color: $lighterGrey;
  }
  .span_active {
    position: absolute;
    @include width-height(10px, 10px);
    background-color: $orange;
    border-radius: 100%;
    right: -6px;
  }
  .span_inactive {
    @extend .span_active;
    background-color: $lighterGrey;
  }
}
