.create_diffusion {
  @include width-height(100%, auto);
  @include flex(column, flex-start, flex-start);
  .wizard {
    @include flex(row, center, center, 300px);
    align-self: center;
    position: relative;
    margin: 20px 0 40px 0;
    .step {
      @include width-height(35px, 35px);
      @include flex(column, center, center);
      border: 2px solid $text;
      background-color: $generalBackground;
      border-radius: 50%;
      position: relative;
      cursor: pointer;
      z-index: 2;
      transition:
        background-color 0.3s ease,
        border-color 0.3s ease;
      p {
        @include fontSize-fontWeight(18px, 600);
        text-align: center;
        line-height: 22px;
      }
      .text {
        @include fontSize-fontWeight(14px, 600);
        min-width: 200px;
        position: absolute;
        bottom: -23px;
      }
      &.active {
        border-color: $darkBlue;
        p {
          color: $darkBlue;
        }
      }
      &.disabled {
        border-color: $border;
        p {
          color: $border;
        }
      }
    }

    .line {
      @include width-height(100%, 1px);
      border: 1px solid $border;
      position: absolute;
    }
  }
}
