.form_container {
  @include flex(row, center, center);
  @include width-height(100vw, 100vh);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.3s ease-in-out forwards;
  .inner_container {
    @include flex(column, flex-start, center, 22px);
    @include width-height(1150px, 90%);
    @include fontSize-fontWeight(24px, 500);
    padding: 20px 25px 20px 25px;
    overflow-y: auto;
    max-height: 650px;
    background-color: $white;
    border-radius: 15px;
    text-align: center;
    box-shadow: 4px 10px 10px 0 rgba(0, 0, 0, 0.25);
    animation: scaleIn 0.3s ease-in-out forwards;
    @media (width >= $queryXl) {
      max-height: 780px;
    }
    .btn_close {
      @include width-height(100%, auto);
      button {
        position: absolute;
        top: 8px;
        right: 5px;
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
      }
    }
    .header {
      @include width-height(100%, auto);
      display: grid;
      grid-template-columns: 40% 20% 30%;
      gap: 4%;
      p {
        @include fontSize-fontWeight(24px, 600);
        text-align: start;
        color: $text;
      }
    }
    .inputs_container {
      @include width-height(100%, auto);
      display: grid;
      gap: 4%;
      grid-template-columns: 40% 20% 30%;
      position: relative;
      .column_one {
        @include flex(column, center, flex-start, 20px);
      }
      .column_two {
        height: 90%;
        @include flex(column, space-between, flex-start);
        .extra_config {
          @include flex(column, center, flex-start, 10px);
          .extra_config_title {
            @include fontSize-fontWeight(24px, 600);
            text-align: start;
            color: $text;
          }
          .extra_config_row {
            @include flex(row, center, center, 5px);
          }
        }
      }
      .column_two_errors {
        height: 96%;
        .extra_config {
          gap: 25px;
        }
      }
      .column_three {
        @include flex(column, flex-start, flex-start, 10px);
        .label {
          @include fontSize-fontWeight(14px, 400);
          color: $lightGrey;
          padding: 5px 0;
          span {
            color: $orange;
          }
        }
      }
    }
    .form_control {
      @include width-height(100%, auto);
      @include flex(column, center, flex-start, 20px);
      position: relative;
    }
    .available_days_container {
      @include width-height(100%, auto);
      @include flex(column, flex-start, flex-start, 45px);
      .available_days_title {
        @include fontSize-fontWeight(24px, 600);
        color: $text;
      }
    }
    .button_container {
      @include width-height(100%, auto);
      @include flex(row, flex-end, center);
    }
    .button_container_errors {
      @extend .button_container;
      padding-top: 35px;
    }
    .error {
      @include width-height(200px, auto);
      text-align: start;
      position: absolute;
      top: 60px;
      @include fontSize-fontWeight(12px, 400);
      color: red;
    }
    .error_hidden {
      display: none;
    }
    .error_lunchFrom {
      @extend .error;
      width: 110px;
    }
    .error_textarea {
      @extend .error;
      width: 250px;
      top: 182px;
    }
    .error_image {
      @extend .error;
      top: 170px;
    }
  }
}

.closing {
  animation: fadeOutPopup 0.3s ease-in-out forwards;
}

.inner_container::-webkit-scrollbar {
  width: 5px;
  background-color: $greyBackground;
}

.inner_container::-webkit-scrollbar-thumb {
  background-color: $orange;
  border-radius: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

@keyframes fadeOutPopup {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.custom-datepicker {
  width: 100px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  color: $blueBackground;
  input {
    padding: 6px;
    border: none;
    border-radius: 4px;
    box-shadow: none;
  }
}
