# Main API
NEXT_PUBLIC_API_DASH=https://test-api.com

# Feature Flags
NEXT_PUBLIC_DISABLE_SOCIAL_PROFILE=false
NEXT_PUBLIC_DISABLE_WISHLIST=false

# Landing
NEXT_PUBLIC_DISABLE_LOGIN=false
NEXT_PUBLIC_DISABLE_MULTILANGUAGE=false
