AUTH0_SECRET=
AUTH0_BASE_URL=http://localhost:3000/
AUTH0_ISSUER_BASE_URL=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_AUDIENCE=
AUTH0_SCOPE=

# Front
NEXT_PUBLIC_INBOX_URL=https://agents-dev.vercel.app
NEXT_PUBLIC_UITOOL_URL=https://uitool-dev.vercel.app
NEXT_PUBLIC_ENGINE_URL=https://power-app-engine.vercel.app

# Backend
NEXT_PUBLIC_API_DASH=https://dashboard-dev.clattor.com
NEXT_PUBLIC_API_BOX=https://box-dev.clattor.com
NEXT_PUBLIC_API_TOOL=https://uitool-dev.clattor.com

# Analytics
NEXT_CLARITY_ID=""