@import "@/styles/theme";

.popup_container {
  @include flex(row, center, center);
  @include width-height(100vw, 100vh);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.3s ease-in-out forwards;
  .container {
    @include flex(column, space-evenly, center);
    @include width-height(375px, 150px);
    @include fontSize-fontWeight(18px, 400);
    background-color: $white;
    border-radius: 15px;
    text-align: center;
    box-shadow: 4px 10px 10px 0 rgba(0, 0, 0, 0.25);
    animation: scaleIn 0.3s ease-in-out forwards;
    .button_container {
      @include flex(row, space-evenly, center);
      @include fontSize-fontWeight(16px, 400);
      width: 100%;
      .no {
        @include flex(row, center, center, 5px);
        @include fontSize-fontWeight(16px, 500);
        background: transparent;
        color: $text;
        font-weight: 700;
        padding: 10px;
        border: 1px solid $orange;
        cursor: pointer;
        transition: all 200ms ease-in-out;
        &:hover {
          background: $darkOrange;
          color: $white;
        }
      }
      .yes {
        @extend .no;
        background: $orange;
        color: $white;
        &:hover {
          background: $orange;
          color: $white;
          transition: all 200ms ease-in;
          svg {
            path {
              fill: #fff;
              stroke: #fff;
            }
          }
        }
        &:disabled {
          border: none;
          background: inherit;
          color: lightGrey;
          cursor: not-allowed;
          svg {
            path {
              fill: $lighterGrey;
              stroke: $lighterGrey;
            }
          }
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
