@import "@/styles/theme.scss";

.container {
  @include width-height(100%, 100%);
  @include flex(column, flex-start, flex-start, 20px);
  .files {
    @include width-height(100%, 100%);
    @include flex(column, flex-start, flex-start, 20px);
    max-height: 400px;
    overflow-y: auto;
  }
}

.files::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  background-color: $greyBackground;
}

.files::-webkit-scrollbar-thumb {
  background-color: $orange;
  border-radius: 7px;
}

@media (min-width: $queryLg) {
  .container {
    .files {
      max-height: 600px;
    }
  }
}
