.catalog_detail_container {
  @include flex(column, flex-start, flex-start, 35px);
  @include width-height(100%, auto);
  color: $text;
  padding: 0 40px;
  .select_container {
    @include flex(row, flex-start, flex-start, 20px);
    @include width-height(50%, auto);
    margin-top: 20px;
  }
  .table_container {
    @include width-height(100%, auto);
    @include flex(column, flex-start, flex-start, 5px);
    .content_container {
      @include width-height(100%, auto);
      max-height: 376px;
      overflow-y: auto;
      @media (width >= $queryXl) {
        max-height: 585px;
      }
    }
    .content_container::-webkit-scrollbar {
      width: 5px;
      background-color: $greyBackground;
    }

    .content_container::-webkit-scrollbar-thumb {
      background-color: $orange;
      border-radius: 10px;
    }
  }
  .btn_container {
    @include width-height(100%, auto);
    @include flex(row, flex-end, center, 30px);
  }
}
