@import "@/styles/theme.scss";

.title {
  @include flex(row, flex-start, flex-start);
  width: 900px;
  border-bottom: 1px solid $lightGrey;
  h2 {
    flex: 1;
    @include fontSize-fontWeight(20px, 500);
    white-space: nowrap;
    padding: 10px 10px;
  }
  .border {
    border-left: 1px solid $lightGrey;
    padding: 10px 10px;
  }
}
.subtitle {
  @include flex(row, flex-start, flex-start);
  width: 900px;
  white-space: nowrap;
  border-bottom: 1px solid $lightGrey;
  @include fontSize-fontWeight(14px, 400);

  .column {
    @include width-height(100%, auto);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
  }
  .column_one {
    text-align: end;
  }
  .column_two {
    border-right: 1px solid $lightGrey;
    border-left: 1px solid $lightGrey;
  }

  .column_three p:last-child {
    text-align: end;
  }
}
