@import "@/styles/theme.scss";

.btn {
  @include main-btn;
}

.btn_disabled {
  @include main-btn;
  background-color: lightGrey;
  &:hover {
    background-color: lightGrey;
    cursor: default;
  }
}

.btnOutline {
  @extend .btn;
  background: transparent;
  color: $orange;
  font-weight: 700;
  padding: 10px;
  border: 1px solid $orange;
  &:hover {
    color: white;
  }
}

@media (min-width: $queryLg) {
  .btn,
  .btn_disabled {
    @include fontSize-fontWeight(15px, 500);
    padding: 10px;
  }
}
