@import "@/styles/theme.scss";

.container {
  @include flex(column, flex-start, flex-start);
  color: $lightGrey;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
}
.active {
  border: $lightGrey 1px solid;
  border-radius: 8px;
  min-width: 600px;
  h1 {
    @include fontSize-fontWeight(20px, 400);
    line-height: 36px;
  }
  p {
    @include fontSize-fontWeight(14px, 400);
    line-height: 28.8px;
  }
}
.inactive {
  color: $lighterGrey;
  min-width: 300px;
  border: $lightGrey 1px solid;
  border-right: none;
  border-radius: 10px 0 0 10px;

  h1 {
    @include fontSize-fontWeight(20px, 400);
    line-height: 36px;
  }
  p {
    @include fontSize-fontWeight(14px, 400);
    line-height: 28.8px;
  }
}
