.container {
  @include width-height(100%, 100%);
  @include flex(column, flex-start, center);
  .inner_container {
    @include flex(column, flex-start, flex-start, 30px);
    @include fontSize-fontWeight(12px, 500);
    @include width-height(80%, auto);
    color: $blueBackground;
    text-align: start;
    .phone_container {
      @include flex(column, flex-start, center);
      @include width-height(230px, 440px);
      position: relative;
      .phone {
        @include flex(column, flex-start, center);
        @include width-height(230px, 440px);
        position: relative;
        margin-left: 20px;
      }
    }
  }
}
