.container {
  @include width-height(100%, 100%);
  @include flex(column, center, center, 20px);
  padding: 40px 0px;
  max-width: 1200px;
  .title_container {
    @include width-height(100%, auto);
    @include flex(row, flex-start, flex-start);
  }
  .inner_container {
    @include width-height(100%, 100%);
    display: grid;
    grid-template-columns: 55% 19% 22%;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
  }
}

@media (min-width: $queryXl) {
  .container {
    max-width: 1400px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1600px;
  }
}
