@import "@/styles/theme.scss";

.container {
  @include width-height(100%, 100%);
  max-width: 1200px;
  @include flex(column, center, center, 30px);
  .breadcrumb_container {
    @include width-height(100%, 10%);
    @include flex(row, flex-start, flex-start);
  }
  .inner_container {
    @include width-height(100%, 90%);
    display: grid;
    grid-template-columns: 40% 30% 30%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .column_one{
      @include width-height(100%, 100%);
background-color: red;
    }
    .column_two{
      @include width-height(100%, 100%);
      background-color: blue;
    }
    .column_three{
      @include width-height(100%, 100%);
      background-color: green;
    }
  }
}

@media (min-width: $queryXl) {
  .container {
    max-width: 1400px;
  }
}
