@import "@/styles/theme.scss";

.container {
  @include width-height(100%, auto);
  @include flex(row, center, center);
  background: $blueishBackground;
  border-radius: 8px;
  border: 2px dashed $lightGrey;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  padding: 10px 0;
  &:hover {
    border-color: $orange;
  }
  .icon {
    @include width-height(50px, auto);
    object-fit: contain;
    transition: all 0.3s;
  }
  &:hover > .icon {
    transform: scale(1.05);
  }
}
.isActive {
  border: 1px solid $orange;
}
