@import "@/styles/theme.scss";

.container {
  @include width-height(100%, 100%);
  @include flex(column, space-between, center);
  .header {
    @include flex(row, flex-start, flex-start, 10px);
    .color_base {
      @include width-height(30px, 30px);
      border: none;
      background: none;
      cursor: pointer;
      transition: all 300ms ease-in-out;
      &:hover {
        background-color: rgba(102, 154, 255, 0.2);
      }
    }
  }
  .content {
    @include width-height(100%, 75%);
    @include flex(column, space-between, center);
    .inner_content {
      @include width-height(100%, 100%);
      @include flex(column, space-between, center);
      .box_container {
        @include flex(row, center, center, 10px);
        .box {
          @include width-height(30px, 90px);
          transition: all 150ms ease-in-out;
        }
      }
      .btn_edit {
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        transition: all 100ms ease-in-out;
        &:hover {
          transform: scale(1.2);
        }
      }
      .btn_container {
        @include width-height(100%, auto);
        @include flex(row, space-between, center, 20px);
        .btn {
          @include width-height(100%, auto);
          padding: 8px;
          border: none;
          border-radius: 5px;
          border: 1px solid $error;
          background: $white;
          color: $error;
          outline: none;
          cursor: pointer;
          transition: all 300ms ease-in-out;
          @include fontSize-fontWeight(14px, 400);
          &:hover {
            background: $error;
            color: $white;
            box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
          }
        }

        .btn:nth-child(2n) {
          background: $gradient;
          color: $white;
          border: none;
          &:hover {
            box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
          }
        }
        .btn_submit {
          @include main-btn;
          @include width-height(100%, auto);
          padding: 7px;
          @include fontSize-fontWeight(14px, 400);
        }
      }
    }
  }
}
