@import "@/styles/theme";

.gallery {
  @include width-height(100%, 100%);
  @include flex(column, flex-start, center, 20px);
  padding: 0px 40px;
  .head {
    @include width-height(100%, 10%);
    @include flex(row, space-between, flex-start);
    .logo {
      @include flex(row, center, center, 10px);
      .logo_text {
        @include fontSize-fontWeight(16px, 400);
        color: $lightGrey;
      }
      img {
        @include width-height(100px, auto);
        object-fit: contain;
      }
    }
  }
  .inner_container {
    @include width-height(100%, 90%);
    overflow: hidden;
  }
}
