@import "@/styles/theme.scss";

.container {
  height: inherit;
  .flakes {
    @include width-height(100%, 100%);
    @include flex(row, space-evenly, flex-start, 10px);
    flex-wrap: wrap;
    border-radius: 4.775px;
    overflow-y: auto;
    row-gap: 20px;
    padding-right: 5px;
    max-height: 400px;
    .template_container {
      .title {
        @include fontSize-fontWeight(14px, 400);
        color: $text;
        margin-bottom: 10px;
        text-align: center;
      }
      .template {
        @include width-height(320px, 300px);
        @include flex(row, space-between, flex-start);
        border: 0.298px solid transparent;
        border-radius: 4.775px;
        padding: 10px;
        cursor: pointer;
        transition: border 0.3s ease;
        .sm_card,
        .lg_card {
          border: 0.298px solid $lightGrey;
          border-radius: 2.495px;
          background-color: $greyBackground;
          @include flex(row, center, center);
          img {
            @include width-height(100%, 100%);
            object-fit: fill;
          }
          svg {
            @include width-height(40px, 40px);
            object-fit: contain;
            path {
              stroke: $lighterGrey;
            }
            path {
              fill: $lighterGrey;
            }
          }
        }
        .sm_card {
          @include width-height(160px, 110px);
        }
        .lg_card {
          @include width-height(130px, 100%);
        }
        &:hover {
          border: 0.298px solid $lightGrey;
        }
      }
      .selected_template {
        border: 0.298px solid $orange;
        &:hover {
          border: 0.298px solid $orange;
        }
      }
    }
  }
  .loader {
    @include width-height(100%, 60vh);
    @include flex(row, center, center);
  }
}

.flakes::-webkit-scrollbar {
  width: 5px;
  background-color: $greyBackground;
}

.flakes::-webkit-scrollbar-thumb {
  background-color: $orange;
  border-radius: 10px;
}

@media (min-width: $queryLg) {
  .container {
    .flakes {
      max-height: 600px;
    }
  }
}
