@import "@/styles/theme.scss";

.container {
  @include width-height(100%, 30%);
  @include flex(row, space-between, center);
  .column {
    @include width-height(40%, auto);
    @include flex(column, flex-start, flex-start, 20px);
    .subtitle {
      @include fontSize-fontWeight(20px, 500);
      margin-top: -10px;
    }
  }
  .column_two {
    @include width-height(50%, auto);
    @include flex(column, flex-start, flex-end, 20px);
    .btn_container {
      @include flex(row, flex-end, center, 20px);
    }
  }
  .reset {
    @include flex(row, center, center, 5px);
    @include fontSize-fontWeight(16px, 500);
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    background: $greyBackground;
    transition: all 200ms ease-in-out;
    &:hover {
      background: $lighterGrey;
      color: $white;
    }
  }
}
