@import "@/styles/theme";

.container {
  @include width-height(100%, 100%);
  @include flex(column, center, center, 20px);
  p {
    @include fontSize-fontWeight(20px, 400);
    color: $lightGrey;
  }
  button {
    @include fontSize-fontWeight(14px, 400);
    height: fit-content;
    padding: 12px 22px;
    border: none;
    border-radius: 4px;
    background: $orange;
    color: $white;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: background 200ms ease-in;
    &:hover {
      background: $darkOrange;
    }
  }
}
