.container {
  position: relative;
  .card {
    @include width-height(310px, 45px);
    @include flex(column, space-between, center);
    border: 4px solid $blue;
    border-radius: 10px;
    padding: 5px 0;
    cursor: pointer;
    transition: all 100ms ease-in;
    .image_container {
      @include width-height(100%, 65%);
      @include flex(row, center, center);
      overflow: hidden;
      border-radius: 10px;
      color: $white;
      background: white;
      .image {
        @include width-height(100%, auto);
        object-position: top;
      }
    }
    .content {
      @include flex(row, space-between, center);
      .title_container {
        @include width-height(100%, 100%);
        @include flex(row, flex-start, center, 10px);
        .title {
          @include fontSize-fontWeight(20px, 500);
          color: $blue;
          text-align: center;
        }
        span {
          @include fontSize-fontWeight(20px, 500);
          color: $blue;
        }
      }
    }
    &:hover {
      box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
    }
  }
  .card_services {
    border: 4px solid $purple;
    .content {
      .title_container {
        .title {
          color: $purple;
        }
        span {
          color: $purple;
        }
      }
    }
  }
}
