.card {
  @include width-height(410px, 45px);
  @include flex(column, space-between, center);
  border: 3px solid $blue;
  border-radius: 10px;
  padding: 5px 0;
  cursor: pointer;
  transition: all 100ms ease-in;
  .title_container {
    @include width-height(100%, 100%);
    @include flex(row, center, center, 10px);
    .title {
      @include fontSize-fontWeight(20px, 500);
      color: $blue;
      text-align: center;
    }
    span {
      @include fontSize-fontWeight(20px, 500);
      color: $blue;
    }
  }

  &:hover {
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.25);
  }
}
.card_services {
  border: 3px solid $purple;
  .title_container {
    .title {
      color: $purple;
    }
    span {
      color: $purple;
    }
  }
}
