@import "@/styles/theme.scss";

.container {
  @include flex(row, space-around, center, 10px);
  position: relative;
  cursor: pointer;

  z-index: 99;
  .logo {
    @include width-height(20px, auto);
    object-fit: contain;
  }
  .user_name {
    @include flex(row, center, center, 5px);
    @include fontSize-fontWeight(16px, 400);
    color: $white;
  }
  .list_container {
    @include flex(column, center, center, 5px);
    position: absolute;
    cursor: pointer;
    top: 43px;
    transition: all 0.3s ease;

    li {
      @include flex(column, center, center);
      @include fontSize-fontWeight(14px, 400);
      @include width-height(120px, 30px);
      list-style: none;
      color: $lightGrey;
      transition: all 0.3s;
      border: $lightGrey 0.5px solid;

      padding: 20px 10px;
      cursor: pointer;
      text-align: center;
      background-color: $white;
      a {
        color: $lightGrey;
        transition: color 0.7s;
      }
      &:hover > a {
        color: $orange;
      }

      max-height: auto;
    }
  }
  .list_hidden {
    opacity: 0;
    overflow: hidden;
    cursor: none;
    max-height: 0px;
  }
}
