.table {
  @include width-height(100%, 80%);
  overflow: hidden;
  .content_container {
    @include width-height(100%, inherit);
    overflow-y: auto;
    overflow-x: hidden;
  }
  .content_container::-webkit-scrollbar {
    width: 5px;
    background-color: $greyBackground;
  }
  .content_container::-webkit-scrollbar-thumb {
    background-color: $orange;
    border-radius: 10px;
  }
  .text {
    @include fontSize-fontWeight(14px, 400);
    @include width-height(100%, auto);
    padding: 20px 0;
    text-align: center;
    color: $text;
  }
}
