@import "@/styles/theme.scss";

.form_control {
  @include width-height(100%, auto);
  @include flex(column, center, flex-start);
  .error {
    @include fontSize-fontWeight(12px, 400);
    color: red;
  }
  .error_hidden {
    display: none;
  }
  &:nth-of-type(4) {
    gap: 5px;
  }
}

.image_container {
  @include width-height(100%, auto);
  @include flex(row, center, center, 10px);
  img {
    @include width-height(50px, auto);
    object-fit: contain;
  }
  .edit {
    @include fontSize-fontWeight(14px, 400);
    text-decoration: underline;
    cursor: pointer;
    transition: all 100ms ease-in;
    &:hover {
      color: $orange;
    }
  }
}
