.templates_container {
  @include width-height(100%, 100%);
  padding: 0 40px;
  box-sizing: border-box;
  header {
    @include width-height(auto, 10%);
  }
  .inner_container {
    @include width-height(auto, 85%);
    @include flex(row, space-between, center);
    .column_container {
      @include flex(column, center, center, 20px);
      .phone_image {
        @include width-height(auto, 100%);
      }
      button {
        align-self: flex-end;
      }
    }
  }
}
