@import "@/styles/theme.scss";

.main_container {
  @include width-height(100%, auto);
  @include flex(row, space-between, center);
  color: $lightGrey;
  cursor: pointer;
  transition: all 0.7s ease;
  .container {
    @include flex(row, flex-start, center, 30px);
    .step_number {
      @include fontSize-fontWeight(30px, 400);
      border-radius: 50%;
      padding-top: 8px;
      @include width-height(70px, 70px);
      text-align: center;
      background-color: white;
    }
    .text_container {
      @include flex(column, space-evenly, flex-start, 10px);
      h2 {
        @include fontSize-fontWeight(20px, 400);
      }
      p {
        @include fontSize-fontWeight(18px, 400);
      }
    }
  }

  .check_container {
    max-width: 100%;
  }

  &.active {
    .step_number {
      color: $black;
      border: $lightGrey 6px solid;
    }
  }

  &.inactive {
    color: $lighterGrey;
    .step_number {
      color: $veryLightGrey;
      border: $veryLightGrey 6px solid;
    }
  }
}
