@import "@/styles/theme.scss";

.container {
  @include width-height(100vw, calc(100vh - 61px));
  background-color: $white;
  .children_container {
    @include flex(row, center, center);
    @include width-height(100wv, calc(100vh - 50px));
    overflow-y: auto;
    padding: 20px 0;
  }
}

.children_container::-webkit-scrollbar {
  width: 5px;
  background-color: $greyBackground;
}

.children_container::-webkit-scrollbar-thumb {
  background-color: $orange;
  border-radius: 10px;
}
