.container {
  @include width-height(100%, 100vh);
  min-height: 100vh;
  background-color: $generalBackground;
  .inner_container {
    @include flex(row, space-between, flex-start);
    flex-wrap: nowrap;
    .children_container {
      flex: 1 1 auto; // allow to grow and shrink
      min-height: 0; // allow overflow to work inside flex
      @include flex(column, flex-start, center);
      background-color: $generalBackground;
      overflow-y: auto;
      transition: all 0.7s;
    }
  }
}

.children_container::-webkit-scrollbar {
  width: 5px;
  background-color: $greyBackground;
}

.children_container::-webkit-scrollbar-thumb {
  background-color: $orange;
  border-radius: 10px;
}

.react-pdf__Page__textContent {
  display: none;
}
