.container {
  @include width-height(100%, 100vh);
  min-height: 100vh;
  background-color: $generalBackground;
  .inner_container {
    @include width-height(100%, calc(100% - 65px));
    @include flex(row, space-between, flex-start);
    flex-wrap: nowrap;
    .children_container {
      @include width-height(calc(100vw - 250px), calc(100vh - 65px));
      @include flex(column, flex-start, center);
      background-color: $generalBackground;
      overflow-y: auto;
      padding: 20px;
      transition: all 0.7s;
    }
    .children_container_closed {
      width: calc(100vw - 60px);
    }
  }
}

.children_container::-webkit-scrollbar {
  width: 5px;
  background-color: $greyBackground;
}

.children_container::-webkit-scrollbar-thumb {
  background-color: $orange;
  border-radius: 10px;
}
