.container {
  @include width-height(100%, auto);
  display: grid;
  grid-template-columns: 0.2fr 1.3fr 1.7fr 1fr 1fr;
  grid-template-rows: auto;
  padding: 5px 10px;
  .order {
    @include width-height(100%, auto);
    @include flex(row, flex-start, center);
    @include fontSize-fontWeight(18px, 400);
  }
  .name_container {
    @include width-height(100%, auto);
    @include flex(row, flex-start, center);
    .image {
      @include width-height(50px, 50px);
      object-fit: contain;
    }
    .icon_container {
      @include flex(row, center, center);
      @include width-height(80px, 60px);
      object-fit: contain;
    }
  }
  .box {
    display: flex;
    align-items: center;
    padding-left: 10px;
    @include fontSize-fontWeight(14px, 400);
  }
  .icons {
    @include flex(row, center, center, 5px);
    border-left: none;
    padding-left: 0px;
  }
  &:hover {
    background-color: $orangeBackground;
  }
}
