@import "@/styles/theme.scss";

.container {
  @include width-height(100%, auto);
  display: grid;
  grid-template-columns: 1.3fr 1.7fr 1fr 1fr;
  grid-template-rows: auto;
  padding: 10px;
  .name_container {
    @include width-height(100%, auto);
    @include flex(row, flex-start, center);
    .image {
      @include width-height(80px, 80px);
      object-fit: contain;
    }
  }
  .box {
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
  .icons {
    @include flex(row, center, center, 5px);
    border-left: none;
    padding-left: 0px;
  }
  &:hover {
    background-color: $orangeBackground;
  }
}
