@import "@/styles/theme.scss";

.container {
  display: grid;
  grid-template-columns: 0.5fr 1fr 2fr 1fr 0.5fr;
  grid-template-rows: auto;
  width: 100%;
  padding: 10px;
  .box {
    display: flex;
    align-items: center;
    border-left: 2px solid $lighterGrey;
    padding-left: 10px;
  }
  .image {
    @include width-height(75px, auto);
  }
  .icons {
    @include flex(row, center, center, 5px);
    border-left: none;
    padding-left: 0px;
  }
}
