@import "@/styles/theme.scss";

.container {
  @include width-height(100%, 100%);
  @include flex(column, space-evenly, flex-start);
  .cards_container {
    @include width-height(100%, 100%);
    margin-top: 15px;
    @include flex(column, flex-start, flex-start, 15px);
  }
  .btn_container {
    @include width-height(95%, auto);
    @include flex(row, flex-end, center);
  }
}

@media (min-width: $queryXl) {
  .container {
    .cards_container {
      gap: 70px;
    }
    .btn_container {
      width: 100%;
    }
  }
}
