@import "@/styles/theme.scss";

.container {
  @include width-height(100%, inherit);
  @include flex(column, space-between, flex-start, 10px);
  .cards_container {
    @include width-height(100%, 90%);
    @include flex(column, flex-start, flex-start, 10px);
    overflow-y: auto;
  }
  .btn_container {
    @include width-height(100%, 10%);
    @include flex(row, flex-end, center);
  }
}

@media (min-width: $queryXl) {
  .container {
    gap: 20px;
    .cards_container {
      gap: 20px;
    }
    .btn_container {
      width: 100%;
    }
  }
}

.cards_container::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  background-color: $greyBackground;
}

.cards_container::-webkit-scrollbar-thumb {
  background-color: $orange;
  border-radius: 7px;
}
