@import "@/styles/theme";

.container {
  @include flex(column, flex-start, flex-start, 10px);
  @include width-height(100%, 100%);
  border-bottom: 1px solid $lighterGrey;
  padding-bottom: 40px;
  .link_container {
    @include width-height(100%, 100%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}
