@import "@/styles/theme.scss";

.popup_container {
  @include flex(row, center, center);
  @include width-height(100vw, 100vh);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.3s ease-in-out forwards;
  .container {
    @include flex(column, space-evenly, center);
    max-height: 80%;
    overflow-y: auto;
    @include fontSize-fontWeight(18px, 400);
    border-radius: 15px;
    text-align: center;
    box-shadow: 4px 10px 10px 0 rgba(0, 0, 0, 0.25);
    animation: scaleIn 0.3s ease-in-out forwards;
    .btn_container {
      @include width-height(100%, 35px);
      position: relative;
      z-index: 1000;
      .btn {
        background: none;
        outline: none;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 2px;
      }
    }
    .image {
      @include width-height(100%, 100%);
    }
  }
}
.closing {
  animation: fadeOutPopup 0.3s ease-in-out forwards;
}

.container::-webkit-scrollbar {
  width: 7px;
  background-color: $greyBackground;
}

.container::-webkit-scrollbar-thumb {
  background-color: $orange;
  border-radius: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

@keyframes fadeOutPopup {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
