// Backgrounds
$greyBackground: #f1f1f1;
$blueishBackground: #e6e3fc;

// Global colors
$lighterGrey: #bebebe;
$lightGrey: #7f7f7f;
$opacityGrey: rgba(127, 127, 127, 0.7);

$text: #381d2a;

$blue: rgb(22, 22, 165);
$error: rgb(168, 7, 7);
$orange: #ff5722;
$darkOrange: #ff3d02;
$white: #fff;

// Media querys
$querySm: 640px;
$queryMd: 768px;
$queryLg: 1024px;
$queryXl: 1400px;

//Mixins
@mixin flex($direction, $justify, $align, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}
@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}
@mixin fontSize-fontWeight($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}

@mixin main-btn() {
  @include flex(row-reverse, center, center, 5px);
  @include fontSize-fontWeight(16px, 400);
  height: fit-content;
  padding: 10px 28px;
  border: none;
  border-radius: 4px;
  background: $darkOrange;
  color: $white;
  cursor: pointer;
  transition: background 200ms ease-in;
  &:hover {
    background: $orange;
  }
}
