// Backgrounds
$lightGrey: #858796;
$darkGrey: #505050;

$black: #000;
$white: #fff;

// Global colors
$blue: #3e4095;
$lightBlue: #c9caff;
$brigthBlue: #4285f4;
$violet: #f5f2ff;
$orange: #ff5722;
$lightOrange: #ffb199;
$purple: #8b4cbd;
$green: #34a853;
$blue: rgb(22, 22, 165);

$error: rgb(168, 7, 7);

//Mixins
@mixin flex($direction, $justify, $align, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}
@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}
@mixin fontSize-fontWeight($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}
