// Backgrounds
$greyBackground: #f1f1f1;

// Global colors
$lightGrey: #7f7f7f;
$opacityGrey: rgba(127, 127, 127, 0.7);
$darkGrey: #505050;

$blue: rgb(22, 22, 165);
$error: rgb(168, 7, 7);
$orange: #ff5722;
$darkOrange: #ff3d02;
$black: #000;
$white: #fff;

// Media querys
$querySm: 640px;
$queryMd: 768px;
$queryLg: 1024px;
$queryXl: 1400px;

//Mixins
@mixin flex($direction, $justify, $align, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}
@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}
@mixin fontSize-fontWeight($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}

@mixin main-btn() {
  @include flex(row-reverse, center, center, 10px);
  @include fontSize-fontWeight(14px, 400);
  height: fit-content;
  padding: 12px 22px;
  border: none;
  border-radius: 4px;
  background: $darkOrange;
  color: $white;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: background 200ms ease-in;
  &:hover {
    background: $orange;
  }
}
