.container {
  width: 200px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 7px;
  flex-wrap: nowrap;
  cursor: auto;
}

.list_content {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  padding: 5px;
}

.data {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
}

.data > .png {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.dataTool:hover {
  background-color: #000 !important;
  border-radius: 15px;
}
.dataTrade:hover {
  background-color: #f1f1f1;
  border-radius: 15px;
}
.dataDashboard:hover {
  background-color: #f9f9f9;
  border-radius: 15px;
}

.data .text {
  font-size: 13px;
  font-weight: 400;
  color: #373435;
  margin-top: 6px;
}
.data .textuitool {
  font-size: 13px;
  font-weight: 400;
  color: #fff;
}

.list_footer {
  width: 100%;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  flex-wrap: nowrap;
  border-radius: 4px;
  margin-top: 6px;
}

.list_footer .text {
  font-size: 13px;
  font-weight: 400;
  color: #ababab;
}
.list_footer .text:hover {
  color: #000000;
}

.list_footer .img {
  width: 80px;
  height: auto;
  object-fit: contain;
}
.notimation_white {
  width: 80px;
  height: auto;
  object-fit: contain;
  filter: invert(1) saturate(10%) brightness(200%);
}
/* Color de svgs para la suite */
.white_svgs {
  filter: invert(1) sepia(86%) saturate(34%) brightness(113%);
}
