@import "@/styles/theme.scss";

.container {
  @include flex(column, flex-start, flex-start, 5px);
  list-style: none;
  .title {
    @include fontSize-fontWeight(28px, 700);
    color: $text;
  }
  .btn {
    border: none;
    background: transparent;
    @include flex(row, center, flex-start, 5px);
    cursor: pointer;
    .text {
      @include fontSize-fontWeight(15px, 400);
      color: $text;
      text-decoration-line: underline;
    }
  }
}
