@import "@/styles/theme.scss";

.container {
  @include flex(column, center, flex-start, 10px);
  padding: 10px;
  list-style: none;
  .title {
    @include fontSize-fontWeight(32px, 700);
    color: $lightGrey;
    text-decoration-line: underline;
  }
  .link {
    @include flex(row, center, flex-start, 5px);
    .text {
      @include fontSize-fontWeight(15px, 400);
      color: $lightGrey;
      text-decoration-line: underline;
    }
  }
}
