.container {
  @include flex(row, flex-start, center, 5px);
  list-style: none;
  .title {
    @include fontSize-fontWeight(28px, 700);
    color: $text;
  }
  .btn {
    @include width-height(30px, 30px);
    @include flex(row, center, center);
    border: none;
    background: transparent;
    cursor: pointer;
    margin-top: 10px;
  }
}
