@import "@/styles/theme.scss";

.container {
  @include width-height(100%, 70%);
  .header {
    @include width-height(100%, 12%);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    border-bottom: 1px solid $lightGrey;
    .column {
      padding: 10px;
      p {
        @include fontSize-fontWeight(14px, 500);
        color: $text;
      }
      &:nth-child(2) {
        border-left: 1px solid $lightGrey;
        border-right: 1px solid $lightGrey;
      }
      &:last-child {
        p {
          text-align: end;
        }
      }
    }
  }
  .rows_container {
    @include width-height(100%, 88%);
    overflow-y: auto;
  }
}

.rows_container::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  background-color: $greyBackground;
}

.rows_container::-webkit-scrollbar-thumb {
  background-color: $orange;
  border-radius: 7px;
}
