.form_container {
  @include flex(row, center, center);
  @include width-height(100vw, 100vh);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.3s ease-in-out forwards;
  .inner_container {
    @include flex(column, center, center, 20px);
    @include width-height(450px, auto);
    @include fontSize-fontWeight(24px, 500);
    padding: 25px;
    background-color: $white;
    border-radius: 15px;
    text-align: center;
    box-shadow: 4px 10px 10px 0 rgba(0, 0, 0, 0.25);
    animation: scaleIn 0.3s ease-in-out forwards;
    .btn_close {
      @include width-height(100%, auto);
      button {
        position: absolute;
        top: 8px;
        right: 5px;
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
      }
    }
    .header {
      @include width-height(100%, auto);
      @include flex(column, flex-start, flex-start, 10px);
      .title {
        @include fontSize-fontWeight(24px, 600);
        color: $text;
      }
      .text {
        @include fontSize-fontWeight(14px, 400);
        text-align: start;
        color: $lightGrey;
      }
    }
    .input {
      @include width-height(100%, auto);
      @include flex(column, flex-start, flex-start, 10px);
      label {
        @include fontSize-fontWeight(16px, 400);
        text-align: start;
        color: $lightGrey;
      }
      input {
        padding: 8px 12px;
        outline: none;
        border: none;
        box-shadow: 0 0 2px $lightGrey;
        color: $text;
      }
    }
    .btn_upload {
      @include width-height(100%, auto);
      @include flex(row, flex-end, center);
    }
  }
}

.closing {
  animation: fadeOutPopup 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

@keyframes fadeOutPopup {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
