.row {
  @include width-height(100%, auto);
  @include flex(row, space-between, center, 20px);
  cursor: pointer;
  border-bottom: 1px solid $blueishBackground;
  transition: all 200ms ease-in-out;
  background: $white;
  border-radius: 4px;
  &:hover {
    background: $orangeBackground;
  }
  .names {
    @include width-height(100%, auto);
    @include flex(row, flex-start, center, 5px);
    padding: 6px;
    .first_name,
    .last_name {
      @include fontSize-fontWeight(18px, 600);
      color: $text;
    }
    .email {
      @include fontSize-fontWeight(14px, 400);
      color: $text;
    }
  }
  .controls {
    @include flex(row, center, center, 15px);
    .btn {
      border: none;
      outline: none;
      background: none;
      cursor: pointer;
      z-index: 100;
      .icon {
        @include width-height(22px, auto);
        object-fit: cover;
        transition: all 200ms ease-in-out;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}
.select {
  background: $orangeBackground;
}
