@import "@/styles/theme.scss";

.container {
  @include flex(column, flex-start, flex-start, 30px);
  @include width-height(80vw, 100%);

  .title_container {
    @include flex(row, space-between, center);
    width: 100%;
  }
  .inner_container {
    @include flex(row, center, center, 15px);
    h5 {
      color: $lighterGrey;
      @include fontSize-fontWeight(16px, 400);
    }
    .box {
      @include flex(row, center, center, 10px);
      border: 1px solid $greyBackground;
      padding: 5px 10px;
      border-radius: 8px;
      cursor: pointer;

      button {
        cursor: pointer;
        border: none;
        background-color: transparent;
      }
    }
  }
}
