.content {
  @include flex(row, flex-start, flex-start);
  @include fontSize-fontWeight(14px, 400);
  white-space: nowrap;
  margin: 7px 0px;
  cursor: pointer;

  .column {
    @include width-height(100%, auto);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    cursor: pointer;
    p {
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
      height: 1.2em;
      white-space: nowrap;
    }
  }
  .column_one p:last-child {
    text-align: end;
  }
  .column_two {
    border-right: 1px solid $lightGrey;
    border-left: 1px solid $lightGrey;
  }

  .column_three p:last-child {
    text-align: end;
  }
}

.content:hover,
.content.collection_selected {
  background-color: $orangeBackground;
}
