.container_business {
  @include width-height(100%, calc(100vh - 110px));
  max-width: 1200px;
  padding: 0px 40px;
  .container_columns {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 40px;
    margin-top: 40px;
  }
  .loading {
    & > div {
      @include width-height(78vw, 75vh);
    }
  }
}

@media (min-width: $queryXl) {
  .container_business {
    max-width: 1400px;
  }
}
