@import "@/styles/theme.scss";

.container {
  @include width-height(100%, calc(100vh - 110px));
  max-width: 1200px;
  @include flex(column, center, center, 20px);
  .breadcrumb_container {
    @include width-height(100%, 10%);
    @include flex(row, flex-start, flex-start);
  }
  .inner_container {
    @include width-height(100%, 90%);
    display: grid;
    grid-template-columns: 30% 33% 33%;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    overflow: hidden;
  }
}

@media (min-width: $queryXl) {
  .container {
    max-width: 1400px;
  }
}
