@import "@/styles/theme.scss";

.container {
  @include width-height(100%, auto);
  @include flex(row, flex-end, center, 20px);
  .checkbox {
    @include flex(row, center, flex-start, 10px);
    position: relative;
    input {
      cursor: pointer;
      position: absolute;
      bottom: 2px;
      left: -20px;
    }
    label {
      @include fontSize-fontWeight(16px, 400);
      color: $lightGrey;
    }
  }
}
