.role_container {
  &:hover {
    cursor: pointer;
  }
  .drop_icon {
    @include flex(row, center, center);
    p {
      @include fontSize-fontWeight(14px, 400);
      color: $text;
      margin: 0 5px;
    }
  }
  .dropdown {
    @include flex(column, flex-end, flex-start);
    min-width: 305px;
    position: absolute;
    left: -11%;
    bottom: -100px;
    z-index: 99;
    padding: 20px;
    background-color: $white;
    border: 2px solid $border;
    min-height: 100px;
    display: none;
    .title {
      @include fontSize-fontWeight(16px, 600);
      color: $text;
      position: absolute;
      top: 15px;
      left: 20px;
    }
    .roles {
      @include flex(row, flex-start, flex-start, 10px);
      margin-bottom: -5px;
      position: relative;
      z-index: 999;
      .role {
        @include flex(row, flex-start, flex-start);
        border: 1px solid $border;
        padding: 5px;
        border-radius: 4px;
        outline: none;
        cursor: pointer;
      }
      button {
        max-height: 29px;
        &:nth-of-type(2) {
          margin-left: -15px;
          background: $white;
          border: 1px solid $border;
          color: $text;
        }
      }
    }
  }
  .showdrop {
    display: flex;
  }
}
