@import "@/styles/theme.scss";

.select {
  @include width-height(100%, auto);
  @include fontSize-fontWeight(14px, 400);
  border-radius: 4px;
  padding: 5px;
  color: $text;
  border: 1px solid $lighterGrey;
  &:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  .option_group {
    color: $text;
    padding: 5px;
  }
}
