@import "@/styles/theme.scss";

.select {
  @include width-height(100%, auto);
  @include fontSize-fontWeight(14px, 400);
  border-radius: 4px;
  color: $text;
  .option_group {
    color: $text;
  }
}
