@import "@/styles/theme";

.container {
  @include width-height(100%, 390px);
  background-color: $blueBackground;
  position: relative;
  .form_container {
    @include flex(column, flex-start, flex-start, 10px);
    .form {
      @include width-height(100%, auto);
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0 20px;
    }
    .btn {
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: $orange;
      color: $white;
      border-radius: 4px;
      border: none;
      @include width-height(160px, 38px);
      @include flex(row, center, center, 10px);
    }
  }
}
