@import "@/styles/theme.scss";

.container {
  @include flex(column, center, center, 20px);
  .header {
    @include flex(row, flex-start, flex-start, 10px);
    .color_base {
      @include width-height(30px, 30px);
      border: none;
      background: none;
      cursor: pointer;
      transition: all 300ms ease-in-out;
      &:hover {
        background-color: rgba(102, 154, 255, 0.2);
      }
    }
  }
  .content {
    @include width-height(100%, auto);
    @include flex(column, space-evenly, center, 20px);
    .inner_content {
      @include width-height(100%, auto);
      @include flex(column, center, center, 25px);
      .box_container {
        @include flex(row, center, center, 10px);
        .box {
          @include width-height(30px, 55px);
          transition: all 150ms ease-in-out;
        }
      }
      .btn_edit {
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
      }
      .btn_container {
        @include width-height(60%, auto);
        @include flex(row, space-between, center, 20px);
        .btn {
          @include width-height(100%, auto);
          padding: 8px;
          border: none;
          border-radius: 5px;
          background: $gradient;
          color: $white;
          outline: none;
          cursor: pointer;
          transition: all 300ms ease-in-out;
          @include fontSize-fontWeight(14px, 400);
          &:hover {
            box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.25);
          }
        }
        .btn_submit {
          @include main-btn;
          @include width-height(100%, auto);
          padding: 7px;
          @include fontSize-fontWeight(14px, 400);
        }
      }
      // .inner_container {
      //   @include width-height(100%, auto);
      //   @include flex(column, center, center, 10px);
      //   .edit_container {
      //     @include flex(row, space-evenly, center, 10px);
      //   }
      // }
    }
  }
}
