.input {
  @include width-height(100%, auto);
  @include flex(column, flex-start, flex-start, 3px);
  @include fontSize-fontWeight(14px, 400);
  input {
    @include width-height(100%, 25px);
    outline: none;
    border: none;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    color: $text;
    padding: 0 5px;
    &:disabled {
      background: $lighterGrey;
    }
  }
}
