@import "@/styles/theme.scss";

.container {
  max-height: 100%;
  overflow: hidden;
  overflow-y: auto;
  padding-right: 10px;
  .flakes {
    @include width-height(100%, 100%);
    @include flex(row, space-between, flex-start, 20px);
    flex-wrap: wrap;
    .template_container {
      .title {
        @include fontSize-fontWeight(16px, 500);
        color: $text;
        margin-bottom: 10px;
      }
      .template {
        @include width-height(300px, 300px);
        @include flex(row, space-between, flex-start);
        border: 0.298px solid transparent;
        border-radius: 4.775px;
        cursor: pointer;
        .sm_card,
        .lg_card {
          border: 0.298px solid $lightGrey;
          border-radius: 2.495px;
          background-color: $greyBackground;
          @include flex(row, center, center);
          img {
            @include width-height(100%, 100%);
            object-fit: fill;
          }
        }
        .sm_card {
          @include width-height(160px, 110px);
        }
        .lg_card {
          @include width-height(130px, 100%);
        }
      }
      .selected_template {
        border: 0.298px solid $orange;
        &:hover {
          border: 0.298px solid $orange;
        }
      }
    }
  }
  .loader {
    @include width-height(100%, 60vh);
    @include flex(row, center, center);
  }
}

.container::-webkit-scrollbar {
  width: 5px;
  background-color: $greyBackground;
}

.container::-webkit-scrollbar-thumb {
  background-color: $orange;
  border-radius: 10px;
}
