@import "@/styles/theme.scss";

.container {
  max-height: 100%;
  overflow: hidden;
  overflow-y: auto;
  padding-right: 10px;
  .flakes {
    @include width-height(100%, 100%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .loader {
    @include width-height(100%, 60vh);
    @include flex(row, center, center);
  }
}

.container::-webkit-scrollbar {
  width: 5px;
  background-color: $greyBackground;
}

.container::-webkit-scrollbar-thumb {
  background-color: $orange;
  border-radius: 10px;
}

@media (width >= $queryXl) {
  .container {
    .flakes {
      @include flex(row, flex-start, flex-start, 20px);
      flex-wrap: wrap;
    }
  }
}
