.notify_container {
  @include width-height(100%, auto);
  padding: 40px 0;
  h1 {
    text-align: left;
    margin-left: 20px;
  }
  .inner_container {
    @include flex(row, space-between, flex-start);
    padding: 20px 0;
    .notification {
      @include width-height(50%, auto);
      @include flex(column, flex-start, flex-start, 15px);
      padding: 0 10px;
      .card {
        @include flex(column, flex-start, flex-start, 10px);
        max-width: 500px;
        padding: 5px 10px;
        border-bottom: 1px solid $lighterGrey;
        margin: auto;
        transition: all 300ms ease;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          left: -2px;
          top: 12px;
          bottom: 0;
          width: 4px;
          height: 100px;
          background-color: $opacityGrey;
        }
        &:hover {
          cursor: pointer;
          background-color: #ffefea;
        }
      }
      .selected {
        background-color: #ffefea;
        &::before {
          background-color: $orange;
        }
      }
    }
    .notification_detail {
      @include width-height(50%, 65vh);
      @include flex(column, flex-start, flex-start, 20px);
      padding: 0 10px;
      border-left: 1px solid $opacityGrey;
    }
  }
}
