.suite_container {
  @include flex(column, center, center);
  position: relative;
  .suite {
    @include flex(row, center, center);
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
  }
}
