@import "@/styles/theme.scss";

.container {
  @include flex(column, flex-start, flex-start, 15px);
  @include width-height(100%, 100%);
  max-width: 900px;
  background-color: $blueBackground;

  .table {
    @include width-height(100%, auto);

    .title {
      @include flex(row, flex-start, flex-start);
      width: 900px;
      border-bottom: 1px solid $lightGrey;
      h2 {
        flex: 1;
        @include fontSize-fontWeight(20px, 500);
        white-space: nowrap;
        padding: 10px 10px;
      }
      .border {
        border-left: 1px solid $lightGrey;
        padding: 10px 10px;
      }
    }
    .subtitle {
      @include flex(row, flex-start, flex-start);
      width: 900px;
      white-space: nowrap;
      border-bottom: 1px solid $lightGrey;
      @include fontSize-fontWeight(14px, 400);

      .subtitle_one {
        flex: 1;
        padding: 8px;
        text-align: end;
      }
      .subtitle_two {
        flex: 1;
        padding: 8px;
        @include flex(row, flex-start, flex-start, 60px);
        border-left: 1px solid $lightGrey;
      }

      .subtitle_three {
        flex: 1;
        padding: 8px;
        @include flex(row, space-between, flex-start);
        border-left: 1px solid $lightGrey;
      }
    }
    .content_container {
      max-height: 360px;
      overflow-y: auto;
      overflow-x: hidden;
    }
    .content_container::-webkit-scrollbar {
      width: 5px;
      background-color: $greyBackground;
    }
    .content_container::-webkit-scrollbar-thumb {
      background-color: $lighterGrey;
      border-radius: 10px;
    }
  }
}
