@import "@/styles/theme.scss";

.container {
  @include width-height(100%, 100%);
  background-color: $blueBackground;
  @include flex(column, flex-start, center, 20px);
  padding: 0px 40px;
  .table {
    @include width-height(100%, 80%);
    overflow: hidden;
    .content_container {
      @include width-height(100%, 100%);
      overflow-y: auto;
      overflow-x: hidden;
    }
    .content_container::-webkit-scrollbar {
      width: 5px;
      background-color: $greyBackground;
    }
    .content_container::-webkit-scrollbar-thumb {
      background-color: $orange;
      border-radius: 10px;
    }
  }
  .btn {
    @include flex(row, center, center, 15px);
    background-color: $blueBackground;
    border: 2px solid $orange;
    border-radius: 2px;
    @include fontSize-fontWeight(14px, 400);
    color: $lightGrey;
    margin: 10px 0;
    padding: 5px 15px;
    align-self: flex-end;
    cursor: pointer;
  }
}
