@import "@/styles/theme.scss";

.container {
  @include flex(column, flex-start, center, 30px);
  @include width-height(100%, 100%);
  max-width: 800px;
  h1 {
    @include fontSize-fontWeight(24px, 400);
    align-self: flex-start;
    color: $darkGrey;
  }
  .step_container {
    @include flex(column, flex-start, flex-start, 30px);
    @include width-height(100%, 100%);
  }
}

@media (min-width: $queryXl) {
  .container {
    max-width: 1100px;
  }
}
