@import "@/styles/theme.scss";

.container,
.container_noselected {
  @include flex(row, flex-start, center, 10px);
  @include width-height(200px, 50px);
  background-color: $white;
  padding: 10px;
  flex-wrap: nowrap;
  transition: all 100ms ease-in;
  .text {
    @include fontSize-fontWeight(14px, 500);
    color: $darkGrey;
    text-align: start;
    line-height: 12px;
  }
  svg {
    path[stroke="#FF5722"] {
      stroke: $darkGrey;
    }
    path[fill="#FF5722"] {
      fill: $darkGrey;
    }
  }
  &:hover {
    border-left: 2px solid $orange;
    border-radius: 0 4px 4px 0;
    .text {
      color: $darkGrey;
    }
    svg {
      path[stroke="#FF5722"] {
        stroke: $darkGrey;
      }
      path[fill="#FF5722"] {
        fill: $darkGrey;
      }
    }
  }
}

.container_selected {
  transition: all 100ms ease-in;
  background-color: $secondary;
  border-left: 2px solid $orange;
  border-radius: 0 4px 4px 0;
  .text {
    @include fontSize-fontWeight(14px, 600);
    color: $black;
    text-align: start;
    line-height: 12px;
  }
  svg {
    path[stroke="#FF5722"] {
      stroke: $black;
    }
    path[fill="#FF5722"] {
      fill: $black;
    }
  }
}
