@import "@/styles/theme.scss";

.container,
.container_noselected {
  @include width-height(228px, 50px);
  display: grid;
  grid-template-columns: 20% 80%;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  transition: all 100ms ease-in;
  .text {
    @include fontSize-fontWeight(18px, 500);
    color: $text;
    line-height: 18px;
  }
  &:hover {
    border-left: 2px solid $orange;
    border-radius: 0 4px 4px 0;
    background-color: $orangeBackground;
  }
}

.container_selected {
  transition: all 100ms ease-in;
  background-color: $orangeBackground;
  border-left: 2px solid $orange;
  border-radius: 0 4px 4px 0;
}
