@import "@/styles/theme.scss";

.form_container {
  @include flex(row, center, center);
  @include width-height(100vw, 100vh);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.3s ease-in-out forwards;
  .inner_container {
    @include flex(column, center, flex-start, 20px);
    @include width-height(750px, auto);
    @include fontSize-fontWeight(24px, 500);
    position: relative;
    padding: 50px 25px 20px 25px;
    background-color: $white;
    border-radius: 15px;
    text-align: center;
    box-shadow: 4px 10px 10px 0 rgba(0, 0, 0, 0.25);
    animation: scaleIn 0.3s ease-in-out forwards;
    .title {
      @include fontSize-fontWeight(30px, 600);
      color: $text;
    }
    .btn_close {
      @include width-height(100%, auto);
      button {
        position: absolute;
        top: 8px;
        right: 5px;
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
      }
    }
    .inputs_container {
      @include width-height(100%, auto);
      display: grid;
      gap: 4%;
      grid-template-columns: 57% 37%;
      position: relative;
      margin-bottom: 20px;
      @media (width >= $queryXl) {
        margin-bottom: 60px;
      }
      .products_information {
        @include flex(column, center, flex-start, 15px);
      }
      .media {
        @include flex(column, flex-start, flex-start, 10px);
        .label {
          @include fontSize-fontWeight(14px, 400);
          color: $lightGrey;
          padding: 5px 0;
        }
      }
    }
    .button_container {
      @include width-height(100%, auto);
      @include flex(row, space-between, center);
    }
    .button {
      @include width-height(100%, auto);
      @include flex(row, flex-end, center);
    }
    .error {
      @include width-height(300px, auto);
      text-align: start;
      position: absolute;
      top: 60px;
      @include fontSize-fontWeight(12px, 400);
      color: red;
    }
    .error_hidden {
      display: none;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}