@import "@/styles/theme.scss";

.container {
  @include width-height(100%, 65px);
  @include flex(row, space-between, center);
  flex-wrap: nowrap;
  padding: 20px;
  background: #fff;
  border-bottom: 2px solid #cfcfcf;

  .logo_container {
    @include flex(row, center, center, 15px);

    .logo {
      @include width-height(130px, 60px);
      object-fit: contain;
      cursor: pointer;
    }
  }
  .inner_container {
    @include flex(row, center, center, 50px);
    padding: 0 20px;

    .knowledge {
      @include flex(row, space-around, center, 10px);
      cursor: pointer;
      transition: color 0.3s ease;

      .logo_knowledge {
        @include width-height(20px, auto);
        object-fit: contain;
      }
      .text_knowledge {
        @include fontSize-fontWeight(14px, 400);
        line-height: 24px;
        color: $text;
        transition: color 0.7s;
      }
    }
  }
}
