@import "@/styles/theme.scss";

.card {
  @include width-height(250px, auto);
  display: grid;
  grid-template-columns: 84% 16%;
  justify-content: space-between;
  align-items: center;
  background: $blueishBackground;
  border-radius: 10px;
  border: 2px solid $text;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  .name {
    @include width-height(auto, 100%);
    @include flex(row, center, center);
    @include fontSize-fontWeight(20px, 400);
    color: $text;
    display: inline-block;
    max-width: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 15px;
  }
  .btn_container {
    @include flex(column, center, center);
    overflow: hidden;
    :nth-child(1) {
      border-top-right-radius: 8px;
    }
    :nth-child(2) {
      border-bottom-right-radius: 8px;
    }
  }
}
