@import "@/styles/theme.scss";

.container {
  position: relative;
  .card {
    @include width-height(275px, 200px);
    @include flex(column, space-between, center);
    background: $blue;
    border-radius: 10px;
    padding: 10px 10px 0 10px;
    cursor: pointer;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
    @media (width >= $queryXl) {
      width: 300px;
    }
    .image_container {
      @include width-height(100%, 65%);
      @include flex(row, center, center);
      border-radius: 10px;
      color: $white;
      background: white;
    }
    .content {
      @include width-height(100%, 35%);
      @include flex(row, space-between, center);
      .title_container {
        @include width-height(100%, 100%);
        @include flex(row, flex-start, center, 10px);
        .title {
          @include fontSize-fontWeight(24px, 300);
          max-width: 150px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          color: $white;
          padding-left: 10px;
        }
        span {
          @include fontSize-fontWeight(20px, 300);
          color: $white;
        }
      }
    }
  }
  .btn_edit {
    height: 65.5px;
    @include flex(column, center, center);
    position: absolute;
    bottom: 0;
    right: 10px;
    border-left: 1px solid $border;
    padding-left: 10px;
  }
}
