@import "@/styles/theme";

.container {
  @include width-height(100%, 100%);
  @include flex(column, flex-start, flex-start, 20px);
  padding: 0px 40px;
  overflow-y: auto;
  .inner_container {
    @include flex(row, flex-start, flex-start, 30px);
    @include width-height(100%, 100%);
  }
}

.container::-webkit-scrollbar {
  width: 5px;
  background-color: $greyBackground;
}

.container::-webkit-scrollbar-thumb {
  background-color: $orange;
  border-radius: 10px;
}
