@import "@/styles/theme";

.container {
  @include flex(column, flex-start, flex-start, 20px);
  @include width-height(100%, 100%);
  max-width: 900px;
  background-color: $blueBackground;
  overflow-y: auto;
  .inner_container {
    @include flex(row, flex-start, flex-start, 30px);
  }
}
