.btn {
  @include fontSize-fontWeight(14px, 300);
  padding: 12px 14px;
  color: $white;
  background-color: $orange;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
  &:hover {
    background-color: $darkOrange;
  }
}

@media (min-width: $queryLg) {
  .btn {
    @include fontSize-fontWeight(15px, 500);
    padding: 10px;
  }
}
