.container {
  @include width-height(100%, 160px);
  @include flex(column, center, center, 20px);
  background: $blueishBackground;
  border-radius: 8px;
  border: 2px dashed $blue;
  position: relative;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  padding: 20px 30px;
  .icon {
    @include width-height(30px, auto);
  }
  .text {
    @include fontSize-fontWeight(14px, 400);
    max-width: 110px;
    text-align: center;
    span {
      @include fontSize-fontWeight(14px, 600);
      color: $blue;
      border-bottom: 1px solid $blue;
    }
  }
  .text_excel {
    @extend .text;
    max-width: none;
  }
  img {
    @include width-height(100%, 100%);
    object-fit: contain;
    border-radius: 8px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: $blueishBackground;
  }
}
.isActive {
  border: 1px solid $orange;
}

.container_excel {
  @include width-height(100%, auto);
  @include flex(row, center, center, 20px);
  padding: 30px;
  background: none;
  border: 1px solid $border;
}
