.spinner_container {
  @include width-height(100%, auto);
  @include flex(column, center, center);
  margin-top: 40px;
}

.subtitle {
  @include fontSize-fontWeight(16px, 400);
  color: $lightGrey;
}

.table_header {
  display: flex;
  justify-content: start;

  p {
    font-size: 18px;
    color: $lightGrey;
    width: 45%;
  }
}

.hr,
.hr2 {
  background-color: $lightGrey;
  border-color: $lightGrey;
  margin-top: 5px;
  margin-bottom: 25px;
  border-top: none;
  border-left: none;
}

.hr2 {
  margin: 20px 100px;
  opacity: 0.5;
}

.btn_container {
  display: flex;
  justify-content: end;
  width: 100%;

  .btn_add {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #381d2a;
    background: transparent;
    border: 1px solid #ff5722;
    font-size: 15px;
    font-weight: 500;
    padding: 10px;

    &.btn_add:hover {
      color: #fff;
      background: #ff5722;

      path {
        fill: white;
      }
    }
  }
}
