@import "@/styles/theme";

.container {
  @include flex(column, flex-start, flex-start, 20px);
  @include width-height(100%, 100%);
  .text_container {
    @include width-height(50%, auto);
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }
}
