@import "@/styles/theme.scss";

.excel_button {
  @include flex(row, center, center, 15px);
  @include width-height(100%, auto);
  @include fontSize-fontWeight(16px, 600);
  background: linear-gradient(to right, #6cd389, #386d47);
  color: #fff;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    animation: gradient-animation 50ms forwards;
  }
}

.file_name {
  @include fontSize-fontWeight(16px, 500);
}

@keyframes gradient-animation {
  0% {
    background: linear-gradient(to right, #6cd389, #386d47);
  }
  50% {
    background: linear-gradient(to top, #386d47, #6cd389);
  }
  100% {
    background: linear-gradient(to right, #386d47, #6cd389);
  }
}
