@import "@/styles/theme.scss";

.container {
  height: inherit;
  .form {
    @include width-height(100%, 100%);
    position: relative;
    overflow-y: auto;
    .btn {
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: $orange;
      border: none;
      border-radius: 4px;
      padding: 10px 15px;
      color: $white;
      cursor: pointer;
      transition: background 0.3s ease;
      &:hover {
        background-color: $darkOrange;
      }
    }
  }
}

.form::-webkit-scrollbar {
  width: 5px;
  background-color: $greyBackground;
}

.form::-webkit-scrollbar-thumb {
  background-color: $orange;
  border-radius: 10px;
}
