.container {
  @include flex(column, flex-start, center);
  @include width-height(100%, 560px);
  border-left: 2px solid $lighterGrey;
  border-right: 2px solid $lighterGrey;
  .inner_container {
    @include flex(column, flex-start, flex-start, 30px);
    @include fontSize-fontWeight(12px, 500);
    @include width-height(70%, 100%);
    color: $blueBackground;
    .catalogs {
      @include flex(column, flex-start, flex-start, 10px);
      @include width-height(100%, 100%);
    }
  }
}
