.container {
  @include flex(column, flex-start, flex-start);

  h3 {
    @include fontSize-fontWeight(13px, 500);
  }
  p {
    @include fontSize-fontWeight(13px, 400);
    max-width: 125px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
  }
}
