@import "@/styles/theme.scss";

.container {
  @include width-height(95%, auto);
  @include flex(column, flex-start, flex-start, 5px);
  border-radius: 8px;
  border: 1px solid $lightGrey;
  background: $secondary;
  padding: 5px 10px;
  color: $lightGrey;
  transition: all 200ms ease-in-out;
  .header {
    @include flex(row, flex-start, center, 10px);
    .step,
    .title {
      @include fontSize-fontWeight(18px, 400);
    }
  }
  .description {
    @include fontSize-fontWeight(16px, 400);
  }
}

.container_disabled {
  @extend .container;
  border-color: $lighterGrey;
  color: $lighterGrey;
  background: $greyBackground;
}
