@import "@/styles/theme.scss";

.container {
  height: inherit;
  margin-top: 40px;
  .flakes {
    @include width-height(100%, 100%);
    @include flex(row, space-between, flex-start, 10px);
    flex-wrap: wrap;
    border-radius: 4.775px;
    overflow-y: auto;
    row-gap: 20px;
    .template_container {
      .title {
        @include fontSize-fontWeight(14px, 500);
        color: $lightGrey;
        margin-bottom: 10px;
      }
      .template {
        @include width-height(320px, 300px);
        @include flex(row, space-between, flex-start);
        border: 0.298px solid transparent;
        border-radius: 4.775px;
        padding: 10px;
        cursor: pointer;
        transition: border 0.3s ease;
        position: relative;
        .sm_card,
        .lg_card {
          @include flex(row, center, center);
          border: 0.298px solid $lightGrey;
          border-radius: 2.495px;
          background-color: $greyBackground;
          img {
            @include width-height(100%, 100%);
            object-fit: fill;
          }
          svg {
            @include width-height(40px, 40px);
            object-fit: contain;
            path {
              stroke: $lighterGrey;
            }
            path {
              fill: $lighterGrey;
            }
          }
        }
        .sm_card {
          @include width-height(160px, 110px);
          .empty_img {
            @include width-height(30%, auto);
          }
        }
        .lg_card {
          @include width-height(130px, 100%);
          .empty_img {
            @include width-height(60%, auto);
          }
        }
        .hover {
          @include width-height(100%, 100%);
          @include flex(column, center, center, 10px);
          position: absolute;
          top: 0;
          left: 0;
          background-color: $blueHoverBackground;
          border-radius: 2.495px;
          display: none;
          .preview,
          .select {
            @include fontSize-fontWeight(12px, 600);
            min-width: 130px;
            padding: 8px 14px;
            border-radius: 4px;
            border: none;
            transition: background 300ms ease;
            cursor: pointer;
          }
          .preview {
            color: $orange;
            &:hover {
              background-color: $blueishBackground;
            }
          }
          .select {
            background-color: $orange;
            color: $white;
            &:hover {
              background-color: $darkOrange;
            }
          }
        }
        &:hover {
          .hover {
            display: flex;
          }
        }
      }
    }
  }
}

.flakes::-webkit-scrollbar {
  width: 5px;
  background-color: $greyBackground;
}

.flakes::-webkit-scrollbar-thumb {
  background-color: $orange;
  border-radius: 10px;
}

@media (min-width: $queryLg) {
  .container {
    .flakes {
      max-height: 650px;
    }
  }
}
