@import "@/styles/theme.scss";

.container {
  @include flex(column, center, center, 0px);
  position: absolute;
  bottom: 10px;
  left: 5px;
  border: none;
  background-color: transparent;
  .date {
    width: 40px;
    background-color: #e6e5e59c;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
    box-shadow:
      0 1px 3px rgba(0, 0, 0, 0.12),
      0 1px 2px rgba(0, 0, 0, 0.24);
    p {
      font-size: 10px;
      color: #818080;
      padding: 5px;
    }
  }
  .message {
    position: relative;
    background-color: #f9f9f9;
    border-radius: 0 10px 10px 10px;
    padding: 10px;
    width: 200px;
    height: auto;
    box-shadow:
      0 1px 3px rgba(0, 0, 0, 0.12),
      0 1px 2px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -10px;
      @include width-height(80px, 100%);
      background-color: #f9f9f9;
      clip-path: polygon(0% 0%, 28% 0, 18% 0, 15% 14%, 9% 5%, 0 0, 0 27%);
      box-shadow:
        0 1px 3px rgba(0, 0, 0, 0.24),
        0 1px 2px rgba(0, 0, 0, 0.24);
    }
    .og_styles {
      margin: 0;
      font-size: 10px;
      text-align: left;
      color: $text;
    }
    .message_date {
      font-size: 10px;
      position: absolute;
      bottom: 2px;
      right: 12px;
      color: $text;
    }
  }
}
