// Review Component Styles
.container {
  min-height: 100vh;
  height: 100vh;
  max-width: 100%;
  background-color: white;
  align-items: center;
  justify-content: center;
  padding: 0 3rem;
}

.gridLayout {
  height:  100%;
  align-items: center;
  justify-content: center;
  display: grid;
  gap: 1rem;
  
  // Desktop layout: 2fr 1fr (main content takes 2/3, sidebar takes 1/3)
  @media (min-width: 768px) {
    grid-template-columns: 2fr 1fr;
  }
  
  // Mobile layout: single column
  @media (max-width: 767px) {
    grid-template-columns: 1fr;
  }
}

.header {
  text-align: center;
}

.title {
  font-weight: bold;
  color: var(--color-primary);
}

.subtitle {
  color: var(--color-font-secondary);
}