.catalog_container {
  @include width-height(100%, 100%);
  @include flex(column, flex-start, flex-start, 40px);
  padding: 10px 40px;
  .cards_container {
    @include width-height(100%, auto);
    @include flex(row, flex-start, flex-start, 30px);
    padding-bottom: 20px;
    flex-wrap: wrap;
    .add {
      @include width-height(275px, 200px);
      @include flex(column, center, center);
      border: 2px dashed $blue;
      background: $sweetBlue;
      border-radius: 10px;
      cursor: pointer;
      transition: all 150ms ease-in;
      &:hover {
        background: rgb(214, 217, 252);
      }
    }
  }
}
