.sidetrack_container {
  @include width-height(280px, 100%);
  display: grid;
  grid-template-rows: 1fr 6fr;
  background-color: $white;
  border-right: 1px solid $lighterGrey;
  box-sizing: border-box;
  .title_container {
    @include flex(column, center, flex-start, 5px);
    padding: 10px;
    border-bottom: 1px solid $lighterGrey;
    .title {
      @include fontSize-fontWeight(18px, 600);
      color: $text;
    }
    .description {
      @include fontSize-fontWeight(16px, 400);
      color: $lightGrey;
    }
  }
  .steps_container {
    @include flex(column, space-evenly, center);
    button {
      padding: 10px;
      @include flex(row, flex-end, center, 15px);
      @include width-height(100%, 100%);
      cursor: pointer;
      @include fontSize-fontWeight(14px, 400);
      color: $text;
      background-color: transparent;
      text-align: end;
      border: none;
      position: relative;
      .circle {
        @include flex(center, center, center);
        @include width-height(40px, 40px);
        background-color: $orange;
        border-radius: 100%;
      }
      .circle_inactive {
        @extend .circle;
        background-color: $lighterGrey;
      }
      .span_active {
        position: absolute;
        @include width-height(10px, 10px);
        background-color: $orange;
        border-radius: 100%;
        right: -6px;
      }
      .span_inactive {
        @extend .span_active;
        background-color: $lighterGrey;
      }
    }
  }
}
