@import "@/styles/theme";

.popup_container {
  @include flex(row, center, center);
  @include width-height(100vw, 100vh);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.5);
  .container {
    @include flex(column, space-evenly, center, 20px);
    @include width-height(300px, auto);
    @include fontSize-fontWeight(24px, 500);
    padding: 20px;
    background-color: $white;
    border-radius: 15px;
    text-align: center;
    box-shadow: 4px 10px 10px 0 rgba(0, 0, 0, 0.25);
    .validation {
      @include width-height(100%, auto);
      @include fontSize-fontWeight(13px, 500);
      @include flex(row, flex-start, center, 5px);
      color: $lighterGrey;
    }
    .button_container {
      @include flex(row, space-evenly, center);
      width: 100%;
      .no {
        @include flex(row, center, center, 5px);
        @include fontSize-fontWeight(16px, 500);
        border: none;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
        background: $greyBackground;
        transition: all 200ms ease-in-out;
        &:hover {
          background: $lighterGrey;
          color: $white;
        }
      }
      .yes {
        @extend .no;
        background: $orange;
        color: $white;
        &:hover {
          background: $orange;
          color: $white;
          transition: all 200ms ease-in;
          svg {
            path {
              fill: #fff;
              stroke: #fff;
            }
          }
        }
      }
    }
  }
}
