@import "@/styles/theme.scss";

.container {
  @include width-height(100%, 100%);
  @include flex(column, center, center, 10px);
  border-left: 1px solid $lightGrey;
  .phone_container {
    @include flex(column, flex-start, center);
    @include width-height(230px, 440px);
    position: relative;
    margin-left: 20px;
    .phone {
      @include width-height(100%, 100%);
      position: absolute;
    }
    .wa {
      @include width-height(100%, 100%);
      position: absolute;
    }
    .phone_inner_container {
      @include width-height(215px, 420px);
      position: absolute;
      top: 10px;
      border: none;
      overflow: hidden;
      border-radius: 20px;
      iframe {
        @include width-height(200%, 200%);
        transform-origin: 0 0;
        transform: scale(0.5);
      }
    }
  }
  .dot_container {
    @include flex(row, center, center, 10px);
    margin-left: 20px;
    .dot {
      display: block;
      @include width-height(10px, 10px);
      cursor: pointer;
      border-radius: 100%;
    }
    .dot_active {
      background-color: $text;
    }
    .dot_inactive {
      background-color: $lighterGrey;
    }
  }
}

@media (min-width: $queryLg) {
  .container {
    max-height: 630px;
  }
}
