@import "@/styles/theme.scss";

.container {
  @include width-height(100%, 100%);
  @include flex(column, flex-start, center);
  .phone_container {
    @include flex(column, flex-start, center);
    @include width-height(255px, 530px);
    position: relative;
    .phone {
      @include width-height(100%, 100%);
      position: absolute;
    }
    .wa {
      @include width-height(100%, 100%);
      position: absolute;
    }
    .phone_inner_container {
      @include width-height(100%, 100%);
      position: absolute;
      top: 10px;
      border: none;
      overflow: hidden;
      border-radius: 20px;
      iframe {
        @include width-height(200%, 200%);
        transform-origin: 0 0;
        transform: scale(0.5);
      }
    }
  }
}
