@import "@/styles/theme.scss";

.card {
  @include width-height(100%, auto);
  @include flex(row, space-between, center, 20px);
  border-radius: 8px;
  border: 1px solid $lightGrey;
  padding: 10px 10px;
  .logoUrl {
    @include width-height(auto, 70px);
    object-fit: contain;
  }
  p {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .btn {
    @include flex(row, center, center);
    background: none;
    border: none;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    &:hover {
      transform: scale(1.2);
    }
    .controls_icons {
      @include width-height(25px, auto);
      object-fit: contain;
    }
  }
}
