@import "@/styles/theme.scss";

.card {
  @include width-height(100%, auto);
  @include flex(row, center, center, 20px);
  border-radius: 8px;
  border: 1px solid $lightGrey;
  padding: 20px 10px;
  .logo {
    @include width-height(80px, auto);
    object-fit: contain;
  }
}
