.policy_container {
  @include width-height(100%, 100%);
  max-width: 1200px;
  min-height: 100vh;
  background-color: $white;
  padding: 40px;
  margin: auto;
}

.login_container {
  @include width-height(100%, 100%);
}

@media (width <= $querySm) {
  .policy_container {
    padding: 20px;
  }
}

@media (min-width: $queryXl) {
  .policy_container {
    max-width: 1400px;
  }
}
