@import "@/styles/theme.scss";

.container {
  @include width-height(550px, 500px);
  position: relative;
  .phone {
    @include width-height(550px, 500px);
    position: absolute;
  }
  iframe {
    @include width-height(210px, 420px);
    position: absolute;
    top: 45px;
    left: 170px;
    border: none;
    overflow-y: hidden;
  }
}
