@import "@/styles/theme.scss";

.container {
  @include width-height(870px, 650px);
  position: relative;
  .phone {
    @include width-height(870px, 650px);
    position: absolute;
  }
  .iframe {
    @include width-height(40%, 80%);
    position: absolute;
    top: 70px;
    left: 260px;
    border: none;
    overflow-y: hidden;
  }
}
