.container {
  @include width-height(100%, auto);
  align-items: center;
  padding: 15px;
  background: $sweetBlue;
  border-bottom: 1px solid $blue;
  h2 {
    color: $blue;
    @include fontSize-fontWeight(20px, 600);
  }
}
