@import "@/styles/theme.scss";

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 0.5fr;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid $lighterGrey;
  .name,
  .description,
  .price {
    padding: 5px;
    border-left: 2px solid $lighterGrey;
  }
}
