@import "@/styles/theme.scss";

.container {
  @include flex(row, flex-start, center);
  @include width-height(100%, auto);
  margin-top: 100px;
  padding: 10px;
  border-bottom: 1px solid $lighterGrey;
  .image {
    @include width-height(15%, auto);
  }
  .name {
    @include width-height(25%, auto);
    border-left: 2px solid $lighterGrey;
    padding: 5px;
  }
  .description {
    @include width-height(40%, auto);
    border-left: 2px solid $lighterGrey;
    padding: 5px;
  }
  .price {
    @include width-height(20%, auto);
    border-left: 2px solid $lighterGrey;
    padding: 5px;
  }
}
